# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
/bs4/
/beautifulsoup4-*.dist-info/
/soupsieve/
/soupsieve-*.dist-info/

# Serverless directories
.serverless

# Misc
/venv/
/.vscode/
/setup.cfg
__pycache__/