# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless

# Misc
/venv/
/.vscode/
/setup.cfg
__pycache__/
/node_modules/

# dependencies
/bs4/
/beautifulsoup4-*.dist-info/
/soupsieve/
/soupsieve-*.dist-info/
/html5lib/
/html5lib-*.dist-info/
/lxml/
/lxml-*.dist-info/
/webencodings/
/webencodings-*.dist-info/
/six.py
/six-*.dist-info/